Microsoft.Flow/flows/cc770d2c-1207-46aa-8e69-b5fede870ddd/definition.json
{"name":"616fb149-3043-4b74-a298-58789a49ca6d","id":"/providers/Microsoft.Flow/flows/616fb149-3043-4b74-a298-58789a49ca6d","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"SubmitVolunteerForm","definition":{"metadata":{"workflowEntityId":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"cef29cff-2907-4663-8285-8fc09f60f280","type":"User","tenantId":"dc7d9c34-fe1e-4375-9ded-dcbd15f9c43a"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2021-02-17T19:00:43.5405268Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"VolunteerName_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"VolunteerContact_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"VolunteerEmailId_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"VolunteerPin_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"VolunteerCity_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"VolunteerState_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"VolunteerAddress_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"VolunteerHasVehicle_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"VolunteerType_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false}},"required":["VolunteerName_Value","VolunteerContact_Value","VolunteerEmailId_Value","VolunteerPin_Value","VolunteerCity_Value","VolunteerState_Value","VolunteerAddress_Value","VolunteerHasVehicle_Value","VolunteerType_Value"]}}}},"actions":{"VolunteerName":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"VolunteerName","type":"string","value":"@{triggerBody()['VolunteerName_Value']}"}]}},"VolunteerContact":{"runAfter":{"VolunteerName":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"VolunteerContact","type":"string","value":"@{triggerBody()['VolunteerContact_Value']}"}]}},"VolunteerEmailId":{"runAfter":{"VolunteerContact":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"VolunteerEmailId","type":"string","value":"@{triggerBody()['VolunteerEmailId_Value']}"}]}},"VolunteerPin":{"runAfter":{"VolunteerEmailId":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"VolunteerPin","type":"string","value":"@{triggerBody()['VolunteerPin_Value']}"}]}},"VolunteerCity":{"runAfter":{"VolunteerPin":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"VolunteerCity","type":"string","value":"@{triggerBody()['VolunteerCity_Value']}"}]}},"VolunteerState":{"runAfter":{"VolunteerCity":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"VolunteerState","type":"string","value":"@{triggerBody()['VolunteerState_Value']}"}]}},"VolunteerAddress":{"runAfter":{"VolunteerState":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"VolunteerAddress","type":"string","value":"@{triggerBody()['VolunteerAddress_Value']}"}]}},"VolunteerHasVehicle":{"runAfter":{"VolunteerAddress":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"VolunteerHasVehicle","type":"string","value":"@{triggerBody()['VolunteerHasVehicle_Value']}"}]}},"VolunteerType":{"runAfter":{"VolunteerHasVehicle":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"VolunteerType","type":"string","value":"@{triggerBody()['VolunteerType_Value']}"}]}},"Execute_stored_procedure_(V2)":{"runAfter":{"VolunteerType":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sql","connectionName":"shared_sql","operationId":"ExecuteProcedure_V2"},"parameters":{"server":"default","database":"default","procedure":"[dbo].[spInsertVolunteerDetails]","parameters/VolunteerAddress":"@variables('VolunteerAddress')","parameters/VolunteerCity":"@variables('VolunteerCity')","parameters/VolunteerContact":"@variables('VolunteerContact')","parameters/VolunteerEmail":"@variables('VolunteerEmailId')","parameters/VolunteerName":"@variables('VolunteerName')","parameters/VolunteerPin":"@variables('VolunteerPin')","parameters/VolunteerState":"@variables('VolunteerState')","parameters/VolunteerType":"@variables('VolunteerType')","parameters/VolunteerVehicle":"@variables('VolunteerHasVehicle')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Execute_stored_procedure_(V2)_2":{"runAfter":{"Execute_stored_procedure_(V2)":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sql","connectionName":"shared_sql","operationId":"ExecuteProcedure_V2"},"parameters":{"server":"default","database":"default","procedure":"[dbo].[spInsertLoginDetails]","parameters/EmailId":"@variables('VolunteerEmailId')","parameters/WarriorType":"Volunteer"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"outputs":{},"description":"Create one or more actions to happen when a button or link in Power Apps is selected. To use this flow from a Power App, select the control you want to trigger the flow and go to the Action tab in the Power Apps ribbon and select Flows."},"connectionReferences":{"shared_sql":{"connectionName":"c104dc882946445f9a1301cb12d068fa","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sql","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}