Microsoft.Flow/flows/8dd898df-1041-4c20-808b-081d55ef88a1/definition.json
{"name":"a7e79bba-cf0d-4ef1-97c2-107a76d9b531","id":"/providers/Microsoft.Flow/flows/a7e79bba-cf0d-4ef1-97c2-107a76d9b531","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"ModifyVolunteer","definition":{"metadata":{"workflowEntityId":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"cef29cff-2907-4663-8285-8fc09f60f280","type":"User","tenantId":"dc7d9c34-fe1e-4375-9ded-dcbd15f9c43a"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2021-02-21T07:50:45.2699062Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"VolunteerID_Value":{"type":"integer","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"HolidayFlag_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false}},"required":["VolunteerID_Value","HolidayFlag_Value"]}}}},"actions":{"VolunteerID":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"VolunteerID","type":"integer","value":"@triggerBody()['VolunteerID_Value']"}]}},"HolidayFlag":{"runAfter":{"VolunteerID":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"HolidayFlag","type":"string","value":"@{triggerBody()['HolidayFlag_Value']}"}]}},"Execute_stored_procedure_(V2)":{"runAfter":{"HolidayFlag":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sql","connectionName":"shared_sql","operationId":"ExecuteProcedure_V2"},"parameters":{"server":"default","database":"default","procedure":"[dbo].[spAlterVolunteerDetails]","parameters/VolunteerHolidayFlag":"@variables('HolidayFlag')","parameters/VolunteerId":"@variables('VolunteerID')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"outputs":{},"description":"Create one or more actions to happen when a button or link in Power Apps is selected. To use this flow from a Power App, select the control you want to trigger the flow and go to the Action tab in the Power Apps ribbon and select Flows."},"connectionReferences":{"shared_sql":{"connectionName":"c104dc882946445f9a1301cb12d068fa","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sql","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}