Microsoft.Flow/flows/9fc97480-5d1a-40aa-867b-af1c67e5501d/definition.json
{"name":"ddaff0b3-817c-49a1-b771-fa4b958e67b0","id":"/providers/Microsoft.Flow/flows/ddaff0b3-817c-49a1-b771-fa4b958e67b0","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"SubmitDonatorForm","definition":{"metadata":{"workflowEntityId":null,"flowclientsuspensionreason":"GoogleDlpViolation","flowclientsuspensiontime":"2021-02-20T10:01:00.0794876Z","creator":{"id":"cef29cff-2907-4663-8285-8fc09f60f280","type":"User","tenantId":"dc7d9c34-fe1e-4375-9ded-dcbd15f9c43a"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2021-02-20T10:01:00.0794876Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"DonatorType_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"DonatorName_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"DonatorNumber_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"DonatorEmail_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"DonatorAddress_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"DonatorPin_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"DonatorCity_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"DonatorState_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false}},"required":["DonatorType_Value","DonatorName_Value","DonatorNumber_Value","DonatorEmail_Value","DonatorAddress_Value","DonatorPin_Value","DonatorCity_Value","DonatorState_Value"]}}}},"actions":{"DonatorType":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"DonatorType","type":"string","value":"@{triggerBody()['DonatorType_Value']}"}]}},"DonatorName":{"runAfter":{"DonatorType":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"DonatorName","type":"string","value":"@{triggerBody()['DonatorName_Value']}"}]}},"DonatorNumber":{"runAfter":{"DonatorName":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"DonatorNumber","type":"string","value":"@{triggerBody()['DonatorNumber_Value']}"}]}},"DonatorEmail":{"runAfter":{"DonatorNumber":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"DonatorEmail","type":"string","value":"@{triggerBody()['DonatorEmail_Value']}"}]}},"DonatorAddress":{"runAfter":{"DonatorEmail":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"DonatorAddress","type":"string","value":"@{triggerBody()['DonatorAddress_Value']}"}]}},"DonatorPin":{"runAfter":{"DonatorAddress":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"DonatorPin","type":"string","value":"@{triggerBody()['DonatorPin_Value']}"}]}},"DonatorCity":{"runAfter":{"DonatorPin":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"DonatorCity","type":"string","value":"@{triggerBody()['DonatorCity_Value']}"}]}},"DonatorState":{"runAfter":{"DonatorCity":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"DonatorState","type":"string","value":"@{triggerBody()['DonatorState_Value']}"}]}},"Execute_stored_procedure_(V2)_2":{"runAfter":{"Type":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sql","connectionName":"shared_sql","operationId":"ExecuteProcedure_V2"},"parameters":{"server":"default","database":"default","procedure":"[dbo].[spInsertDonatorDetails]","parameters/DonatorAddress":"@variables('DonatorAddress')","parameters/DonatorCity":"@variables('DonatorCity')","parameters/DonatorContact":"@variables('DonatorNumber')","parameters/DonatorEmail":"@variables('DonatorEmail')","parameters/DonatorName":"@variables('DonatorName')","parameters/DonatorPin":"@variables('DonatorPin')","parameters/DonatorState":"@variables('DonatorState')","parameters/DonatorType":"@variables('DonatorType')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Execute_stored_procedure_(V2)":{"runAfter":{"Execute_stored_procedure_(V2)_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sql","connectionName":"shared_sql","operationId":"ExecuteProcedure_V2"},"parameters":{"server":"default","database":"default","procedure":"[dbo].[spInsertLoginDetails]","parameters/EmailId":"@variables('DonatorEmail')","parameters/WarriorType":"@variables('Type')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Type":{"runAfter":{"DonatorState":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Type","type":"string","value":"Donator"}]}}},"outputs":{},"description":"Create one or more actions to happen when a button or link in Power Apps is selected. To use this flow from a Power App, select the control you want to trigger the flow and go to the Action tab in the Power Apps ribbon and select Flows."},"connectionReferences":{"shared_sql":{"connectionName":"c104dc882946445f9a1301cb12d068fa","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sql","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}